<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail Verification</title>
</head>
<body>
    <H3>Email Successfully Verified</H3>
</body>
</html>